.nn{
    border: 1px rgb(25, 1, 183) solid;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 20px;
}
.nnn{
    width: 200px;
}
#apagar{
    color: red;
}
#mandar{
    color: green;
}
p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px black solid;
}
body{
    text-align: center;
}